<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="patrick.morczinietz.abicalculatorbayern"
    android:versionCode="9"
    android:versionName="1.6" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/abicalc_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="patrick.morczinietz.abicalculatorbayern.AbicalculatorBayern"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="patrick.morczinietz.abicalculatorbayern.AbiMarks"
            android:label="@string/abi_leistungen"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="patrick.morczinietz.abicalculatorbayern.SeminarMarks"
            android:label="@string/seminar_leistungen"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="patrick.morczinietz.abicalculatorbayern.ElementaryMarks"
            android:label="@string/grundkurs_leistungen"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="patrick.morczinietz.abicalculatorbayern.Result"
            android:label="@string/your_schnitt"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="patrick.morczinietz.abicalculatorbayern.Dates"
            android:label="@string/date_button_text"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="patrick.morczinietz.abicalculatorbayern.ToDo"
            android:label="@string/todo_top"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="patrick.morczinietz.abicalculatorbayern.Details"
            android:label="@string/details_top"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="patrick.morczinietz.abicalculatorbayern.SchoolActivity"
            android:label="@string/schools"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="patrick.morczinietz.abicalculatorbayern.UniActivity"
            android:label="@string/unis_string"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="patrick.morczinietz.abicalculatorbayern.HSchoolActivity"
            android:label="@string/hschool_string"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="patrick.morczinietz.abicalculatorbayern.ArtSchoolActivity"
            android:label="@string/artschool_string"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize" />
    </application>

</manifest>